<div class="cmd cmd-widget #history#" data-type="info" data-subtype="binary" data-cmd_id="#id#" data-cmd_uid="#uid#"
	data-version="#version#">
	<div class="title #hide_name#">
		<div class="cmdName">#name_display#</div>
	</div>
	<div class="center">
		<div class="background">
			<span></span>
			<span></span>
			<div class="tv"></div>
			<div class="tv2"></div>
			<div class="tv3"></div>
		</div>
	</div>
	<div class="timeCmd label label-default #history#" data-type="info"></div>
	<script>
		jeedom.cmd.addUpdateFunction('#id#', function (_options) {
			if (is_object(cmd = document.querySelector('.cmd[data-cmd_uid="#uid#"]'))) {
				cmd.setAttribute('title', '{{Date de valeur}}: ' + _options.valueDate + '<br>{{Date de collecte}}: ' + _options.collectDate)

				// >= 4.4.0
				// if ('#_time_widget_#' == '1' || '#time#' == 'duration' || '#time#' == 'date') {
				// 	jeedom.cmd.displayDuration(_options.valueDate, cmd.querySelector('.timeCmd'), '#time#')
				// }

				// < 4.4.0
				let cmd2 = $('.cmd[data-cmd_id=#id#]')
				if ('#_time_widget_#' == '1') {
					jeedom.cmd.displayDuration(_options.valueDate, cmd2.find('.timeCmd'), '#time#')
				} else {
					cmd2.find('.timeCmd').parent().remove()
				}

				if (_options.display_value == 1) {
					cmd.querySelector('.background').setAttribute('style', 'background: conic-gradient(red, yellow, lime, aqua, blue, magenta, red); animation: rotate 1.5s linear infinite')
				} else {
					cmd.querySelector('.background').setAttribute('style', 'background: none; animation: none')
				}
			}
		})
		jeedom.cmd.refreshValue([{ cmd_id: '#id#', value: '#value#', display_value: '#state#', valueDate: '#valueDate#', collectDate: '#collectDate#', alertLevel: '#alertLevel#', unit: '#unite#' }])
	</script>
	<style>
		.background {
			width: 100px;
			height: 80px;
			background: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
			position: relative;
			border-radius: 10%;
			margin: 5px 5px 20px 5px;
		}

		.background span {
			height: 100%;
			width: 100%;
			background: inherit;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 10%;
		}

		.background span:nth-child(1) {
			filter: blur(7px);
		}

		.background span:nth-child(2) {
			filter: blur(14px);
		}

		.tv {
			width: 80px;
			height: 60px;
			background: var(--link-color);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-style: solid;
			border-width: 5px;
			border-color: rgb(0, 0, 0);
		}

		.tv2 {
			width: 20px;
			height: 10px;
			position: absolute;
			top: 94%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-style: solid;
			border-width: 0 5px 0 5px;
			border-color: rgb(0, 0, 0);
		}

		.tv3 {
			width: 60px;
			height: 5px;
			background: rgb(0, 0, 0);
			position: absolute;
			top: 102%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		@keyframes rotate {
			0% {
				filter: hue-rotate(360deg);
			}

			100% {
				filter: hue-rotate(0deg);
			}
		}
	</style>
</div>